/* =============================== Global classes =============================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

/* =============================== Navigation styling =============================== */
.main-nav {
    background: $pp_third-primary-color;

    .nav__ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        list-style: none;

        li {
            position: relative;

            .nav__shopping-cart-count {
                background: $pp-main-primary-color;
                width: 22px;
                height: 22px;
                position: absolute;
                border-radius: 50%;
                right: 22px;
                top: 7px;
                display: flex;
                align-items: center;
                justify-content: center;

                .nav__cart-count {
                    color: $white;
                    text-shadow: 0px 0px 6px transparentize($pp_third-primary-color, .9);
                    margin: 0;
                }
            }

            .nav__link {
                color: $white;
                display: inline-block;
                text-decoration: none;
                padding: 20px;

                &:hover {
                    background: lighten($pp-third-primary-color, 10%);
                }
            }

            .nav__link--basket {
                padding: 15px 30px;
            }
        }
    }
}

/* =============================== Banner styling =============================== */
.banner {
    background: url('../images/headers/header_image.png') no-repeat;
    background-size: cover;
    height: 500px;
    position: relative;

    .banner__cta {
        position: absolute;
        top: 46%;
        left: 50%;
        transform: translate(-50%, -50%);

        .banner__heading {
            font-weight: 300;
        }

        .banner__heading, .banner__text {
            color: $white;
        }

        .banner__button {
            margin-top: 20px;
        }
    }
}

/* =============================== Form styling =============================== */
.form {

    .wrapper {
        background: $light-gray;
        position: relative;
    }

    .form__input--input-field {
        width: calc(100% - 36px);
    }

    .form__input {
        -webkit-appearance: none;
        padding: 18px;
        outline-style: none;
        background: transparent;
        border: none;
    }

    .form__input--10-padding {
        padding: 10px;
    }

    .form__input--submit {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        background: url('../images/icons/search-icon.svg') no-repeat center center;
        background-size: 15px;
        padding: 18px 32px;
    }
}

/* =============================== Pizza grid styling =============================== */
.section__pizzas {
    .heading-2 {
        margin-bottom: 30px;
    }

    .section__pizza-card {

        .pizza-card__image {
            width: 100%;
        }

        .buttons.grid {
            gap: 0;
            margin-top: -4px;

            .button {
                text-align: center;
            }

            .pizza-card__button--price {
                display: flex;
                flex-flow: row;
                align-items: center;
                color: $white;
                padding: 15px;
            }
        }
    }
}

/* =============================== Custom pizza form styling =============================== */
.custom-pizza {
    .custom-pizza__name {
        margin: 10px 0 30px;
    }

    .custom-pizza__topping-images {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 630px;
        height: 630px;

        .custom-pizza__image {
            transition: .5s;
        }
    }

    .small-text {
        margin-top: 20px;
    }

    .right-column__toppings {

        .topping-tags {
            .tag-label {
                background: $pp_main-primary-color url("../images/icons/checkbox-unchecked.svg") no-repeat 15px center;
                background-size: $bg-size;
            }

            input:checked ~ .tag-label {
                background: $pp_second-primary-color url("../images/icons/checkbox-checked.svg") no-repeat 15px center;
                background-size: $bg-size;
            }
        }

        .size-tags {
            input:checked ~ .tag-label {
                background: $pp_second-primary-color url("../images/icons/checkbox-checked.svg") no-repeat 15px center;
                background-size: $bg-size;
            }
        }
    }
}

.label {
    margin: 15px;
}

.placeholder-style {
    color: gray;
    font-style: italic;
    font-weight: 300;
}

/* =============================== Footer styling =============================== */
.footer {
    background: $pp_third-primary-color;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer__gdpr-links {
            display: flex;
            justify-content: space-between;

            .footer__gdpr-links__link {
                display: inline-block;
                padding: 15px;
                color: $white;
                position: relative;

                &:hover {
                    background: lighten($pp-third-primary-color, 10%);
                }
            }
        }

        .footer__copyright {
            .small-text {
                color: $white;
            }
        }
    }
}
