// Fonts
$montserrat: 'Montserrat', sans-serif;

$pp_main-primary-color: #BF3111;
$pp_second-primary-color: #8C0410;
$pp_third-primary-color: #222326;

// Secondary colors
$white: #ffffff;
$green: #4F7302;
$light-orange: #F2A74B;
$light-gray: #EDEDED;
$gray: #8E8E8E;

// Global variables
body {
    font-family: $montserrat;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.wrapper {
    width: 1280px;
    margin: auto;
}

.narrow-wrapper {
    @extend .wrapper;
    width: 900px;
}

.button, button {
    color: $white;
    background: $pp-main-primary-color;
    text-decoration: none;
    padding: 18px 32px;
    float: left;
    font-size: 16px;
    cursor: pointer;
    border: none;

    &:hover {
        background: lighten($pp-main-primary-color, 3%);
    }
}

input {
    outline-style: none;
    font-size: 16px;
    padding: 12px;
    margin: 5px 0;

    &:not([type="checkbox"]) {
        width: calc(100% - 24px);
    }

    &[type="submit"] {
        width: initial;
    }
}

label, .label {
    color: $pp_third-primary-color;
    font-size: 16px;
}// Colours
.red-color {
    color: $pp_main-primary-color;
}

.black-color {
    color: $pp_third-primary-color;
}

.red-bg {
    background: $pp_main-primary-color;
}

.darker-red-bg {
    background: $pp_second-primary-color;

    &:hover {
        background: darken($pp_second-primary-color, 5%);
    }
}

.gray-bg {
    background: lighten($gray, 30%);
}

.gray-border {
    border: 1px solid lighten($gray, 30%) !important;
}

// Headings and text
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.heading-1 {
    font-size: 50px;
}

.heading-2 {
    font-size: 40px;
    @extend .red-color;
}

.heading-3 {
    font-size: 30px;
}

.heading-4 {
    font-size: 25px;
}

.small-text {
    font-size: 16px;
    font-weight: 300;
}

// Sections
footer, .section {
    margin-top: 150px;
}

.section .section__text {
    margin: 5px 0 15px;
}

// Display
.grid {
    display: grid;
    gap: 20px;
}

.gap-60px {
    gap: 60px;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.flex {
    display: flex;
}

.flex-row {
    flex-flow: row wrap;
}

.flex-space-between {
    justify-content: space-between;
}

.center {
    align-items: center;
}

.block {
    display: block;
}

// Spacing
.no-margins {
    margin: 0;
}

.top-m {
    margin-top: 10px !important;
}

.top-m, .left-m {

}

.mt-30 {
    margin-top: 30px;
}

.mt-10px {
    margin-top: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}


// Sizing
.width-100 {
    width: 100%;
}

// Forms
$bg-size: 15px;
.tag-wrapper {
    margin: 5px 10px 5px 0;

    .tag-label {
        padding: 10px 20px 10px 40px;
        color: $white;
        display: inline-block;
    }

    input {
        display: none;
    }
}

.topping-tags {
    .tag-label {
        background: $pp_main-primary-color
        url("/images/icons/checkbox-unchecked.svg")
        no-repeat
        15px
        center;
        background-size: $bg-size;
    }

    input:checked ~ .tag-label {
        background: $pp_second-primary-color
        url("/images/icons/checkbox-checked.svg")
        no-repeat
        15px
        center;
        background-size: $bg-size;
    }
}

.topping-tags .tag-label--disabled {
    background: transparentize($pp_second-primary-color, .5)
    url("/images/icons/checkbox-checked.svg")
    no-repeat
    15px
    center !important;
    background-size: $bg-size !important;
}

.size-tags {
    .tag-label {
        background: $pp_main-primary-color
        url("/images/icons/radio-unchecked.svg")
        no-repeat
        15px
        center;
        background-size: $bg-size;
    }

    input:checked ~ .tag-label {
        background: $pp_second-primary-color
        url("/images/icons/radio-checked.svg")
        no-repeat
        15px
        center;
        background-size: $bg-size;
    }
}

// Form styling
