// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font: 'Italianno', cursive;

// Primary colors
$pp_main-primary-color: #BF3111;
$pp_second-primary-color: #8C0410;
$pp_third-primary-color: #222326;

// Secondary colors
$white: #ffffff;
$green: #4F7302;
$light-orange: #F2A74B;
$light-gray: #EDEDED;
$gray: #8E8E8E;
