// Fonts
$montserrat: 'Montserrat', sans-serif;

// Primary colors
$pp_main-primary-color: #BF3111;
$pp_second-primary-color: #8C0410;
$pp_third-primary-color: #222326;

// Secondary colors
$white: #ffffff;
$green: #4F7302;
$light-orange: #F2A74B;
$light-gray: #EDEDED;
$gray: #8E8E8E;

// Global variables
body {
    font-family: $montserrat;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

.wrapper {
    width: 1280px;
    margin: auto;
}

.button, button {
    color: $white;
    background: $pp-main-primary-color;
    text-decoration: none;
    padding: 18px 32px;
    float: left;

    &:hover {
        background: lighten($pp-main-primary-color, 3%);
    }
}

label, .label {
    color: $pp_third-primary-color;
    font-size: 16px;
}

// Headings and text
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.heading-1 {
    font-size: 50px;
}

.heading-2 {
    font-size: 40px;
}

.heading-3 {
    font-size: 30px;
}

.small-text {
    font-size: 16px;
    font-weight: 300;
}

// Colors
.red-color {
    color: $pp_main-primary-color;
}

.black-color {
    color: $pp_third-primary-color;
}

.red-bg {
    background: $pp_main-primary-color;
}

.darker-red-bg {
    background: $pp_second-primary-color;

    &:hover {
        background: darken($pp_second-primary-color, 5%);
    }
}

.gray-bg {
    background: lighten($gray, 30%);
}

.gray-border {
    border: 1px solid lighten($gray, 30%) !important;
}

// Sections
footer, .section {
    margin-top: 150px;
}

.section .section__text {
    margin: 5px 0 15px;
}

// Display
.grid {
    display: grid;
    gap: 20px;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.flex {
    display: flex;
}

.flex-row {
    flex-flow: row wrap;
}

.flex-space-between {
    justify-content: space-between;
}

.block {
    display: block;
}

// Spacing
.no-margins {
    margin: 0;
}

.top-m {
    margin-top: 10px !important;
}

.top-m, .left-m {

}

// Sizing
.width-100 {
    width: 100%;
}

// Forms
$bg-size: 15px;
.tag-wrapper {
    margin: 5px;

    .tag-label {
        padding: 10px 10px 10px 40px;
        background: $pp_main-primary-color url("../images/icons/checkbox-unchecked.svg") no-repeat 15px center;
        background-size: $bg-size;
        color: $white;
        display: inline-block;
    }

    input {
        display: none;
    }
}

.topping-tags .tag-label--disabled {
    background: transparentize($pp_second-primary-color, .5) url("../images/icons/checkbox-checked.svg") no-repeat 15px center !important;
    background-size: $bg-size !important;
}

