@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.wrapper,
.narrow-wrapper {
  width: 1280px;
  margin: auto;
}

.narrow-wrapper {
  width: 900px;
}

.button,
button {
  color: #ffffff;
  background: #BF3111;
  text-decoration: none;
  padding: 18px 32px;
  float: left;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.button:hover,
button:hover {
  background: #cd3512;
}

input {
  outline-style: none;
  font-size: 16px;
  padding: 12px;
  margin: 5px 0;
}

input:not([type=checkbox]) {
  width: calc(100% - 24px);
}

input[type=submit] {
  width: initial;
}

label,
.label {
  color: #222326;
  font-size: 16px;
}

.red-color,
.heading-2 {
  color: #BF3111;
}

.black-color {
  color: #222326;
}

.red-bg {
  background: #BF3111;
}

.darker-red-bg {
  background: #8C0410;
}

.darker-red-bg:hover {
  background: #73030d;
}

.gray-bg {
  background: #dbdbdb;
}

.gray-border {
  border: 1px solid #dbdbdb !important;
}

.no-border {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.heading-1 {
  font-size: 50px;
}

.heading-2 {
  font-size: 40px;
}

.heading-3 {
  font-size: 30px;
}

.heading-4 {
  font-size: 25px;
}

.small-text {
  font-size: 16px;
  font-weight: 300;
}

footer,
.section {
  margin-top: 150px;
}

.section .section__text {
  margin: 5px 0 15px;
}

.grid {
  display: grid;
  gap: 20px;
}

.gap-60px {
  gap: 60px;
}

.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.flex {
  display: -webkit-box;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
}

.flex-space-between {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.center {
  -webkit-box-align: center;
          align-items: center;
}

.flex-end {
  -webkit-box-align: end;
          align-items: flex-end;
}

.block {
  display: block;
}

.no-margins {
  margin: 0;
}

.top-m {
  margin-top: 10px !important;
}

.mt-30 {
  margin-top: 30px;
}

.mt-10px {
  margin-top: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.width-100 {
  width: 100%;
}

.tag-wrapper {
  margin: 5px 10px 5px 0;
}

.tag-wrapper .tag-label {
  padding: 10px 20px 10px 40px;
  color: #ffffff;
  display: inline-block;
}

.tag-wrapper input {
  display: none;
}

.topping-tags .tag-label {
  background: #BF3111 url("/images/icons/checkbox-unchecked.svg") no-repeat 15px center;
  background-size: 15px;
}

.topping-tags input:checked ~ .tag-label {
  background: #8C0410 url("/images/icons/checkbox-checked.svg") no-repeat 15px center;
  background-size: 15px;
}

.topping-tags .tag-label--disabled {
  background: rgba(140, 4, 16, 0.5) url("/images/icons/checkbox-checked.svg") no-repeat 15px center !important;
  background-size: 15px !important;
}

.size-tags .tag-label {
  background: #BF3111 url("/images/icons/radio-unchecked.svg") no-repeat 15px center;
  background-size: 15px;
}

.size-tags input:checked ~ .tag-label {
  background: #8C0410 url("/images/icons/radio-checked.svg") no-repeat 15px center;
  background-size: 15px;
}

/* =============================== Global classes =============================== */

/* =============================== Navigation styling =============================== */

.main-nav {
  background: #222326;
}

.main-nav .nav__ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.main-nav .nav__ul li {
  position: relative;
}

.main-nav .nav__ul li .nav__shopping-cart-count {
  background: #BF3111;
  width: 22px;
  height: 22px;
  position: absolute;
  border-radius: 50%;
  right: 22px;
  top: 7px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.main-nav .nav__ul li .nav__shopping-cart-count .nav__cart-count {
  color: #ffffff;
  text-shadow: 0px 0px 6px rgba(34, 35, 38, 0.1);
  margin: 0;
}

.main-nav .nav__ul li .nav__link {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}

.main-nav .nav__ul li .nav__link:hover {
  background: #3a3c41;
}

.main-nav .nav__ul li .nav__link--basket {
  padding: 15px 30px;
}

/* =============================== Banner styling =============================== */

.banner {
  background: url("/images/headers/header_image.png") no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.banner .banner__cta {
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner .banner__cta .banner__heading {
  font-weight: 300;
}

.banner .banner__cta .banner__heading,
.banner .banner__cta .banner__text {
  color: #ffffff;
}

.banner .banner__cta .banner__button {
  margin-top: 20px;
}

/* =============================== Form styling =============================== */

.form .wrapper,
.form .narrow-wrapper {
  background: #EDEDED;
  position: relative;
}

.form .form__input--input-field {
  width: calc(100% - 36px);
}

.form .form__input {
  -webkit-appearance: none;
  padding: 18px;
  outline-style: none;
  background: transparent;
  border: none;
}

.form .form__input--10-padding {
  padding: 10px;
}

.form .form__input--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  background: url("/images/icons/search-icon.svg") no-repeat center center;
  background-size: 15px;
  padding: 18px 32px;
}

/* =============================== Pizza grid styling =============================== */

.section__pizzas .heading-2 {
  margin-bottom: 30px;
}

.section__pizzas .section__pizza-card .pizza-card__image {
  width: 100%;
}

.section__pizzas .section__pizza-card .buttons.grid {
  gap: 0;
  margin-top: -4px;
}

.section__pizzas .section__pizza-card .buttons.grid .button {
  text-align: center;
}

.section__pizzas .section__pizza-card .buttons.grid .pizza-card__button--price {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row;
  -webkit-box-align: center;
          align-items: center;
  color: #ffffff;
  padding: 15px;
}

/* =============================== Custom pizza form styling =============================== */

.custom-pizza .custom-pizza__name {
  margin: 10px 0 30px;
}

.custom-pizza .custom-pizza__topping-images {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  width: 630px;
  height: 630px;
}

.custom-pizza .custom-pizza__topping-images .custom-pizza__image {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.custom-pizza .small-text {
  margin-top: 20px;
}

.placeholder-style {
  color: gray;
  font-style: italic;
  font-weight: 300;
}

/* =============================== Pizza page styling =============================== */

.pizza .pizza--image img {
  width: 100%;
}

/* =============================== Footer styling =============================== */

.footer {
  background: #222326;
}

.footer--fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .wrapper,
.footer .narrow-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.footer .wrapper .footer__gdpr-links,
.footer .narrow-wrapper .footer__gdpr-links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.footer .wrapper .footer__gdpr-links .footer__gdpr-links__link,
.footer .narrow-wrapper .footer__gdpr-links .footer__gdpr-links__link {
  display: inline-block;
  padding: 15px;
  color: #ffffff;
  position: relative;
}

.footer .wrapper .footer__gdpr-links .footer__gdpr-links__link:hover,
.footer .narrow-wrapper .footer__gdpr-links .footer__gdpr-links__link:hover {
  background: #3a3c41;
}

.footer .wrapper .footer__copyright .small-text,
.footer .narrow-wrapper .footer__copyright .small-text {
  color: #ffffff;
}

