@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);/* =============================== Global classes =============================== */

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  width: 1280px;
  margin: auto;
}

.button,
button {
  color: #ffffff;
  background: #BF3111;
  text-decoration: none;
  padding: 18px 32px;
  float: left;
}

.button:hover,
button:hover {
  background: #cd3512;
}

.heading-1 {
  font-size: 50px;
}

/* =============================== Navigation styling =============================== */

.main-nav {
  background: #222326;
}

.main-nav .nav__ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  -webkit-box-pack: end;
          justify-content: flex-end;
  list-style: none;
}

.main-nav .nav__ul li {
  position: relative;
}

.main-nav .nav__ul li .nav__shopping-cart-count {
  background: #BF3111;
  width: 22px;
  height: 22px;
  position: absolute;
  border-radius: 50%;
  right: 22px;
  top: 7px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.main-nav .nav__ul li .nav__shopping-cart-count .nav__cart-count {
  color: #ffffff;
  text-shadow: 0px 0px 6px rgba(34, 35, 38, 0.1);
  margin: 0;
}

.main-nav .nav__ul li .nav__link {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding: 20px;
}

.main-nav .nav__ul li .nav__link:hover {
  background: #3a3c41;
}

.main-nav .nav__ul li .nav__link--basket {
  padding: 15px 30px;
}

/* =============================== Banner styling =============================== */

.banner {
  background: url(/images/header_image.png?6039522c7f3d5dd22205400517117155) no-repeat;
  background-size: cover;
  height: 500px;
  position: relative;
}

.banner .banner__cta {
  position: absolute;
  top: 46%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.banner .banner__cta .banner__heading {
  font-weight: 300;
}

.banner .banner__cta .banner__heading,
.banner .banner__cta .banner__text {
  color: #ffffff;
  margin: 0;
}

.banner .banner__cta .banner__button {
  margin-top: 20px;
}

/* =============================== Form styling =============================== */

.form {
  background: #dbdbdb;
}

.form .wrapper {
  background: #EDEDED;
  position: relative;
}

.form .wrapper .form__input {
  -webkit-appearance: none;
  padding: 18px;
  outline-style: none;
  background: transparent;
  border: none;
}

.form .wrapper .form__input--input-field {
  width: calc(100% - 36px);
}

.form .wrapper .form__input--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: flex;
  background: url(/images/search-icon.svg?4016685938420741d7ca2dea5f64ce00) no-repeat center center;
  background-size: 15px;
  padding: 18px 32px;
}

/* =============================== Footer styling =============================== */

.footer {
  background: #222326;
  margin-top: 150px;
}

.footer .wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.footer .wrapper .footer__gdpr-links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.footer .wrapper .footer__gdpr-links .footer__gdpr-links__link {
  display: inline-block;
  padding: 15px;
  color: #ffffff;
  position: relative;
}

.footer .wrapper .footer__gdpr-links .footer__gdpr-links__link:hover {
  background: #3a3c41;
}

.footer .wrapper .footer__copyright .small-text {
  color: #ffffff;
}

